@charset "UTF-8";

*
{
	margin:0;
	padding:0;
}

body
{
	background: black;
	margin: 0;
	overflow: hidden;
	background-repeat: no-repeat;
}

#canvas
{
	width: 2000px;
	height: 1000px;
}